In [33]:
import requests
import pandas as pd
import defs

In [34]:
session = requests.Session()

In [35]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"

In [36]:
url

'https://api-fxpractice.oanda.com/v3/accounts/101-002-30861672-001/instruments'

In [37]:
response = session.get(url, params=None, headers=defs.SECURE_HEADER)

In [38]:
response.status_code

200

In [39]:
data = response.json()

In [40]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [41]:
instruments = data['instruments']

In [42]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [43]:
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [44]:
for item in instrument_data[0:3]:
    print(item)

{'name': 'USD_HKD', 'type': 'CURRENCY', 'displayName': 'USD/HKD', 'pipLocation': -4, 'marginRate': '0.122'}
{'name': 'USD_CNH', 'type': 'CURRENCY', 'displayName': 'USD/CNH', 'pipLocation': -4, 'marginRate': '0.272'}
{'name': 'SGD_CHF', 'type': 'CURRENCY', 'displayName': 'SGD/CHF', 'pipLocation': -4, 'marginRate': '0.13'}

In [45]:
instrument_df = pd.DataFrame(instrument_data)
instrument_df

        name      type displayName  pipLocation marginRate
0    USD_HKD  CURRENCY     USD/HKD           -4      0.122
1    USD_CNH  CURRENCY     USD/CNH           -4      0.272
2    SGD_CHF  CURRENCY     SGD/CHF           -4       0.13
3    NZD_CAD  CURRENCY     NZD/CAD           -4       0.03
4    NZD_JPY  CURRENCY     NZD/JPY           -2      0.069
..       ...       ...         ...          ...        ...
118  USD_SGD  CURRENCY     USD/SGD           -4      0.122
119  GBP_NZD  CURRENCY     GBP/NZD           -4       0.06
120  USD_TRY  CURRENCY     USD/TRY           -4      0.272
121  GBP_JPY  CURRENCY     GBP/JPY           -2      0.069
122  CHF_HKD  CURRENCY     CHF/HKD           -4       0.13

[123 rows x 5 columns]

In [46]:
instrument_df.to_pickle('instruments.pkl')