In [27]:
import requests
import pandas as pd
import defs

In [28]:
session = requests.Session()

In [29]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [30]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [31]:
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [32]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [33]:
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [34]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

In [35]:
response.status_code

200

In [36]:
response.json()

{'instrument': 'EUR_USD',
 'granularity': 'H1',
 'candles': [{'complete': True,
   'volume': 7419,
   'time': '2025-04-29T10:00:00.000000000Z',
   'bid': {'o': '1.13797', 'h': '1.13847', 'l': '1.13722', 'c': '1.13774'},
   'mid': {'o': '1.13804', 'h': '1.13855', 'l': '1.13730', 'c': '1.13782'},
   'ask': {'o': '1.13812', 'h': '1.13863', 'l': '1.13739', 'c': '1.13789'}},
  {'complete': True,
   'volume': 7442,
   'time': '2025-04-29T11:00:00.000000000Z',
   'bid': {'o': '1.13773', 'h': '1.13864', 'l': '1.13702', 'c': '1.13738'},
   'mid': {'o': '1.13782', 'h': '1.13871', 'l': '1.13710', 'c': '1.13746'},
   'ask': {'o': '1.13790', 'h': '1.13878', 'l': '1.13718', 'c': '1.13755'}},
  {'complete': True,
   'volume': 12128,
   'time': '2025-04-29T12:00:00.000000000Z',
   'bid': {'o': '1.13741', 'h': '1.14139', 'l': '1.13695', 'c': '1.14099'},
   'mid': {'o': '1.13748', 'h': '1.14147', 'l': '1.13704', 'c': '1.14106'},
   'ask': {'o': '1.13756', 'h': '1.14155', 'l': '1.13711', 'c': '1.14114'}},
  {'complete': True,
   'volume': 15299,
   'time': '2025-04-29T13:00:00.000000000Z',
   'bid': {'o': '1.14099', 'h': '1.14167', 'l': '1.13893', 'c': '1.13964'},
   'mid': {'o': '1.14107', 'h': '1.14174', 'l': '1.13900', 'c': '1.13980'},
   'ask': {'o': '1.14115', 'h': '1.14182', 'l': '1.13908', 'c': '1.13997'}},
  {'complete': True,
   'volume': 18273,
   'time': '2025-04-29T14:00:00.000000000Z',
   'bid': {'o': '1.13965', 'h': '1.14169', 'l': '1.13781', 'c': '1.13825'},
   'mid': {'o': '1.13982', 'h': '1.14178', 'l': '1.13789', 'c': '1.13832'},
   'ask': {'o': '1.13999', 'h': '1.14186', 'l': '1.13797', 'c': '1.13839'}},
  {'complete': True,
   'volume': 10849,
   'time': '2025-04-29T15:00:00.000000000Z',
   'bid': {'o': '1.13825', 'h': '1.14040', 'l': '1.13815', 'c': '1.13952'},
   'mid': {'o': '1.13832', 'h': '1.14047', 'l': '1.13823', 'c': '1.13960'},
   'ask': {'o': '1.13840', 'h': '1.14055', 'l': '1.13830', 'c': '1.13968'}},
  {'complete': True,
   'volume': 8823,
   'time': '2025-04-29T16:00:00.000000000Z',
   'bid': {'o': '1.13954', 'h': '1.14182', 'l': '1.13946', 'c': '1.14028'},
   'mid': {'o': '1.13961', 'h': '1.14190', 'l': '1.13953', 'c': '1.14035'},
   'ask': {'o': '1.13968', 'h': '1.14197', 'l': '1.13960', 'c': '1.14042'}},
  {'complete': True,
   'volume': 6409,
   'time': '2025-04-29T17:00:00.000000000Z',
   'bid': {'o': '1.14028', 'h': '1.14041', 'l': '1.13828', 'c': '1.13851'},
   'mid': {'o': '1.14036', 'h': '1.14048', 'l': '1.13836', 'c': '1.13860'},
   'ask': {'o': '1.14043', 'h': '1.14056', 'l': '1.13844', 'c': '1.13868'}},
  {'complete': True,
   'volume': 5986,
   'time': '2025-04-29T18:00:00.000000000Z',
   'bid': {'o': '1.13850', 'h': '1.13925', 'l': '1.13754', 'c': '1.13818'},
   'mid': {'o': '1.13858', 'h': '1.13933', 'l': '1.13762', 'c': '1.13825'},
   'ask': {'o': '1.13866', 'h': '1.13941', 'l': '1.13769', 'c': '1.13832'}},
  {'complete': False,
   'volume': 2361,
   'time': '2025-04-29T19:00:00.000000000Z',
   'bid': {'o': '1.13817', 'h': '1.13880', 'l': '1.13783', 'c': '1.13824'},
   'mid': {'o': '1.13824', 'h': '1.13887', 'l': '1.13791', 'c': '1.13832'},
   'ask': {'o': '1.13831', 'h': '1.13895', 'l': '1.13799', 'c': '1.13841'}}]}

In [37]:
data = response.json()

In [38]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [39]:
len(data['candles'])

10

In [40]:
prices = ['mid', 'bid', 'ask']
ohlc = ['o', 'h', 'l', 'c']
for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [41]:
data['candles'][0]

{'complete': True,
 'volume': 7419,
 'time': '2025-04-29T10:00:00.000000000Z',
 'bid': {'o': '1.13797', 'h': '1.13847', 'l': '1.13722', 'c': '1.13774'},
 'mid': {'o': '1.13804', 'h': '1.13855', 'l': '1.13730', 'c': '1.13782'},
 'ask': {'o': '1.13812', 'h': '1.13863', 'l': '1.13739', 'c': '1.13789'}}

In [42]:
our_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    for price in prices:
        for oh in ohlc:
            new_dict[f"{price}_{oh}"] = candle[price][oh]
    our_data.append(new_dict)
print(our_data)

[{'time': '2025-04-29T10:00:00.000000000Z', 'volume': 7419, 'mid_o': '1.13804', 'mid_h': '1.13855', 'mid_l': '1.13730', 'mid_c': '1.13782', 'bid_o': '1.13797', 'bid_h': '1.13847', 'bid_l': '1.13722', 'bid_c': '1.13774', 'ask_o': '1.13812', 'ask_h': '1.13863', 'ask_l': '1.13739', 'ask_c': '1.13789'}, {'time': '2025-04-29T11:00:00.000000000Z', 'volume': 7442, 'mid_o': '1.13782', 'mid_h': '1.13871', 'mid_l': '1.13710', 'mid_c': '1.13746', 'bid_o': '1.13773', 'bid_h': '1.13864', 'bid_l': '1.13702', 'bid_c': '1.13738', 'ask_o': '1.13790', 'ask_h': '1.13878', 'ask_l': '1.13718', 'ask_c': '1.13755'}, {'time': '2025-04-29T12:00:00.000000000Z', 'volume': 12128, 'mid_o': '1.13748', 'mid_h': '1.14147', 'mid_l': '1.13704', 'mid_c': '1.14106', 'bid_o': '1.13741', 'bid_h': '1.14139', 'bid_l': '1.13695', 'bid_c': '1.14099', 'ask_o': '1.13756', 'ask_h': '1.14155', 'ask_l': '1.13711', 'ask_c': '1.14114'}, {'time': '2025-04-29T13:00:00.000000000Z', 'volume': 15299, 'mid_o': '1.14107', 'mid_h': '1.14174', 'mid_l': '1.13900', 'mid_c': '1.13980', 'bid_o': '1.14099', 'bid_h': '1.14167', 'bid_l': '1.13893', 'bid_c': '1.13964', 'ask_o': '1.14115', 'ask_h': '1.14182', 'ask_l': '1.13908', 'ask_c': '1.13997'}, {'time': '2025-04-29T14:00:00.000000000Z', 'volume': 18273, 'mid_o': '1.13982', 'mid_h': '1.14178', 'mid_l': '1.13789', 'mid_c': '1.13832', 'bid_o': '1.13965', 'bid_h': '1.14169', 'bid_l': '1.13781', 'bid_c': '1.13825', 'ask_o': '1.13999', 'ask_h': '1.14186', 'ask_l': '1.13797', 'ask_c': '1.13839'}, {'time': '2025-04-29T15:00:00.000000000Z', 'volume': 10849, 'mid_o': '1.13832', 'mid_h': '1.14047', 'mid_l': '1.13823', 'mid_c': '1.13960', 'bid_o': '1.13825', 'bid_h': '1.14040', 'bid_l': '1.13815', 'bid_c': '1.13952', 'ask_o': '1.13840', 'ask_h': '1.14055', 'ask_l': '1.13830', 'ask_c': '1.13968'}, {'time': '2025-04-29T16:00:00.000000000Z', 'volume': 8823, 'mid_o': '1.13961', 'mid_h': '1.14190', 'mid_l': '1.13953', 'mid_c': '1.14035', 'bid_o': '1.13954', 'bid_h': '1.14182', 'bid_l': '1.13946', 'bid_c': '1.14028', 'ask_o': '1.13968', 'ask_h': '1.14197', 'ask_l': '1.13960', 'ask_c': '1.14042'}, {'time': '2025-04-29T17:00:00.000000000Z', 'volume': 6409, 'mid_o': '1.14036', 'mid_h': '1.14048', 'mid_l': '1.13836', 'mid_c': '1.13860', 'bid_o': '1.14028', 'bid_h': '1.14041', 'bid_l': '1.13828', 'bid_c': '1.13851', 'ask_o': '1.14043', 'ask_h': '1.14056', 'ask_l': '1.13844', 'ask_c': '1.13868'}, {'time': '2025-04-29T18:00:00.000000000Z', 'volume': 5986, 'mid_o': '1.13858', 'mid_h': '1.13933', 'mid_l': '1.13762', 'mid_c': '1.13825', 'bid_o': '1.13850', 'bid_h': '1.13925', 'bid_l': '1.13754', 'bid_c': '1.13818', 'ask_o': '1.13866', 'ask_h': '1.13941', 'ask_l': '1.13769', 'ask_c': '1.13832'}]

In [43]:
candles_df = pd.DataFrame(our_data)
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2025-04-29T10:00:00.000000000Z,7419,1.13804,1.13855,1.13730,1.13782,1.13797,1.13847,1.13722,1.13774,1.13812,1.13863,1.13739,1.13789
1,2025-04-29T11:00:00.000000000Z,7442,1.13782,1.13871,1.13710,1.13746,1.13773,1.13864,1.13702,1.13738,1.13790,1.13878,1.13718,1.13755
2,2025-04-29T12:00:00.000000000Z,12128,1.13748,1.14147,1.13704,1.14106,1.13741,1.14139,1.13695,1.14099,1.13756,1.14155,1.13711,1.14114
3,2025-04-29T13:00:00.000000000Z,15299,1.14107,1.14174,1.13900,1.13980,1.14099,1.14167,1.13893,1.13964,1.14115,1.14182,1.13908,1.13997
4,2025-04-29T14:00:00.000000000Z,18273,1.13982,1.14178,1.13789,1.13832,1.13965,1.14169,1.13781,1.13825,1.13999,1.14186,1.13797,1.13839
5,2025-04-29T15:00:00.000000000Z,10849,1.13832,1.14047,1.13823,1.13960,1.13825,1.14040,1.13815,1.13952,1.13840,1.14055,1.13830,1.13968
6,2025-04-29T16:00:00.000000000Z,8823,1.13961,1.14190,1.13953,1.14035,1.13954,1.14182,1.13946,1.14028,1.13968,1.14197,1.13960,1.14042
7,2025-04-29T17:00:00.000000000Z,6409,1.14036,1.14048,1.13836,1.13860,1.14028,1.14041,1.13828,1.13851,1.14043,1.14056,1.13844,1.13868
8,2025-04-29T18:00:00.000000000Z,5986,1.13858,1.13933,1.13762,1.13825,1.13850,1.13925,1.13754,1.13818,1.13866,1.13941,1.13769,1.13832

In [44]:
candles_df.to_pickle('EUR_USD_H1.pkl')

In [45]:
test_df = pd.read_pickle('EUR_USD_H1.pkl')
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2025-04-29T10:00:00.000000000Z,7419,1.13804,1.13855,1.13730,1.13782,1.13797,1.13847,1.13722,1.13774,1.13812,1.13863,1.13739,1.13789
1,2025-04-29T11:00:00.000000000Z,7442,1.13782,1.13871,1.13710,1.13746,1.13773,1.13864,1.13702,1.13738,1.13790,1.13878,1.13718,1.13755
2,2025-04-29T12:00:00.000000000Z,12128,1.13748,1.14147,1.13704,1.14106,1.13741,1.14139,1.13695,1.14099,1.13756,1.14155,1.13711,1.14114
3,2025-04-29T13:00:00.000000000Z,15299,1.14107,1.14174,1.13900,1.13980,1.14099,1.14167,1.13893,1.13964,1.14115,1.14182,1.13908,1.13997
4,2025-04-29T14:00:00.000000000Z,18273,1.13982,1.14178,1.13789,1.13832,1.13965,1.14169,1.13781,1.13825,1.13999,1.14186,1.13797,1.13839
5,2025-04-29T15:00:00.000000000Z,10849,1.13832,1.14047,1.13823,1.13960,1.13825,1.14040,1.13815,1.13952,1.13840,1.14055,1.13830,1.13968
6,2025-04-29T16:00:00.000000000Z,8823,1.13961,1.14190,1.13953,1.14035,1.13954,1.14182,1.13946,1.14028,1.13968,1.14197,1.13960,1.14042
7,2025-04-29T17:00:00.000000000Z,6409,1.14036,1.14048,1.13836,1.13860,1.14028,1.14041,1.13828,1.13851,1.14043,1.14056,1.13844,1.13868
8,2025-04-29T18:00:00.000000000Z,5986,1.13858,1.13933,1.13762,1.13825,1.13850,1.13925,1.13754,1.13818,1.13866,1.13941,1.13769,1.13832